<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	
	<bean name="nodebean" class="com.textUser.bean.NodeBean" scope="prototype">	
	</bean>
	<bean name="userutil" class="com.util.UserUtil" scope="prototype">	
	</bean>
		<bean name="getmenudaoimpl" class="com.textUser.dao.impl.GetMenuDaoimpl" scope="prototype">	
	</bean>
			<bean name="txtequivalentdaoimpl" class="com.textUser.dao.impl.txtEquivalentDaoimpl" scope="prototype">	
	</bean>
	
	<bean name="casebean" class="com.textUser.bean.CaseBean" scope="prototype">	
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="configLocation"
			value="classpath:/hibernate.cfg.xml">
		</property>
	</bean>
</beans>